@tailwind base;
@tailwind components;
@tailwind utilities;

.mega-menu {
  opacity: 0;
  visibility: hidden;
  z-index: -900;
  left: 0;
  position: absolute;
  text-align: center;
  width: 500px;
  transition: all 0.30s linear 0s;
}

.hoverable {
  position: static;
}

.hoverable>a:after {
  font-size: 10px;
  padding-left: 6px;
  position: relative;
  top: -1px;
}

.hoverable:hover .mega-menu {
  opacity: 1;
  visibility: visible;
  z-index: 900;
}

.dropdown {
  opacity: 0;
  visibility: hidden;
  z-index: -900;
  left: 0;
  position: absolute;
  text-align: center;
  width: 200px;
  height: 250px;
  border-radius: 10px;
  transition: all 0.30s linear 0s;
}

.group {
  position: static;
}

.group>a:after {
  font-size: 10px;
  padding-left: 6px;
  position: relative;
  top: -1px;
}

.group:hover .dropdown {
  opacity: 1;
  visibility: visible;
  z-index: 900;
}

body {
  overflow: auto;
}

body::-webkit-scrollbar {
  width: 0;
  background: transparent;
}



.checkbox-label {
  position: relative;
  padding-left: 2em;
  cursor: pointer;
}

.checkbox-label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1em;
  height: 1em;
  border: 1px solid black;
  border-radius: 50%;
  background-color: white;
}

.checkbox-label.checked::before {
  background-color: black;
  border-color: black;
}

.checkbox-label::after {
  content: '\2713';
  position: absolute;
  left: 0em;
  top: -5px;
  font-size: 1.2em;
  color: white;
  opacity: 0;
  transition: opacity 0.3s;
}

.checkbox-label.checked::after {
  opacity: 1;
  color: rgb(255, 255, 255);
}

.hero-section {
  position: relative;
  min-height: 800px;
}

.content-container {
  position: relative;
  z-index: 1;
}

.form-container {
  position: absolute;
  top: 40%;
  right: 4%;
  transform: translate(0, -50%);
  z-index: 2;
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in-button {
  animation: fadeIn 2s ease-in-out forwards;
}