@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar-icons {
  transition: padding 0.3s ease-in-out;
}

.sidebar-icons:hover {
  padding-right: 24px;
  margin-left: 10px;
}

.icon-bg {
  color: #fff;
  font-size: 2xl;
  border-radius: 4px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 1s ease-in-out;
}

.animate-fade-in-up {
  animation: fadeInUp 1s ease-in-out;
}

.animate-scale-in {
  animation: scaleIn 1s ease-in-out;
}

.mega-menu {
  opacity: 0;
  visibility: hidden;
  z-index: -900;
  left: 0;
  position: absolute;
  text-align: center;
  width: 500px;
  transition: all 0.30s linear 0s;
}

.hoverable {
  position: static;
}

.hoverable>a:after {
  font-size: 10px;
  padding-left: 6px;
  position: relative;
  top: -1px;
}

.hoverable:hover .mega-menu {
  opacity: 1;
  visibility: visible;
  z-index: 900;
}

.dropdown {
  opacity: 0;
  visibility: hidden;
  z-index: -900;
  left: 0;
  position: absolute;
  text-align: center;
  width: 200px;
  height: 250px;
  border-radius: 10px;
  transition: all 0.30s linear 0s;
}

.group {
  position: static;
}

.group>a:after {
  font-size: 10px;
  padding-left: 6px;
  position: relative;
  top: -1px;
}

.group:hover .dropdown {
  opacity: 1;
  visibility: visible;
  z-index: 900;
}

body {
  overflow: auto;
}

body::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

input[type="radio"]:checked {
  color: #1a202c;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: 2px solid #4a5568;
  border-radius: 50%;
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.5em;
  vertical-align: middle;
  cursor: pointer;
  background-color: white;
}

input[type="radio"]:checked {
  background-color: #1a202c;
}

.word-transition {
  opacity: 1;
  transition: opacity 2s ease;
}

.word-transition.hide {
  opacity: 0;
}